@using LvStreamStore;
@{
    ViewData["Title"] = "Home Page";
}

@inject IEventStreamClient _client

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@((await _client.ReadStreamAsync(StreamKey.All).CountAsync())</p>
</div>
