@using LvStreamStore;
@{
    ViewData["Title"] = "Home Page";
}

@inject MvcHost.Models.ItemsRm rm

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Items" asp-action="Index" class="btn btn-primary">@rm.Items.Count Items</a>
</div>



<form method="post" asp-controller="Home" asp-action="AddItems">
    <button type="submit">+ five items</button>
</form>
<form method="post" asp-controller="Home" asp-action="AddSingleItem">
    <button type="submit">+ one items</button>
</form>